doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', href='./resource/css/bootstrap.min.css')
  link(rel='stylesheet', href='./resource/css/swiper.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
  link(rel='stylesheet', href='./assets/css/style.css')
.container-fluid.container-admin
  .row
    .col-lg-3.col-xl-3
      .navbar-col-3
        .head
          .head-box-user
            img(src='./assets/img/unnamed.png', alt='not img')
            span.name-user  Hoang 
        .body
          ul.body-categories
            li
              a(href='./ad_category.html')
                i.fas.fa-list-alt
                |  th&#x1EC3; lo&#x1EA1;i truy&#x1EC7;n
            li
              a(href='')
                i.fas.fa-bookmark
                |  danh m&#x1EE5;c
            li
              a(href='#')
                i.fas.fa-feather-alt
                |  &dstrok;&abreve;ng truy&#x1EC7;n
            li
              a(href='#')
                i.fas.fa-book
                |  truy&#x1EC7;n
            li
              a(href='#')
                i.fas.fa-child
                |  ng&#x1B0;&#x1EDD;i d&ugrave;ng
            li
              a(href='./admin.html')
                i.far.fa-chart-bar
                |  th&#x1ED1;ng k&ecirc;
            li
              a(href='')
                i.fas.fa-door-open
                |  tho&aacute;t
    .col-lg-9.col-xl-9
script(src='./resource/js/jquery.js')
script(src='./resource/js/bootstrap.min.js')
script(src='./resource/js/swiper.js')
script(src='./assets/js/effect.js')
