include ../layout/admin_layout.pug 
	block content 
		.container-fluid.container-admin
			.row
				.col-lg-2.col-xl-2#navbar-1
					include ../components/admin_navbar.pug
				.col-lg-10.col-xl-10#navbar-11
					p= img
		include ../layout/script.pug