include ../../layout/admin_layout.pug 
	block content 
		.container-fluid.container-chapter
			.row
				.col-xl-12 
					.box-new 
						.head
							a(href="/admin/chapter/" + id)
								i.fas.fa-long-arrow-alt-left.pr-1
								| Back
						.body
							form(action='' method='post')
								.box-input
									label tên chương
									input(type="text" name="name-chapter")
								.box-input
									textarea#editor(name='content')
										| &lt;p&gt;This is some sample content.&lt;/p&gt;
								.box-input
										input(type='submit' value='Submit')
		include ../../layout/script.pug
		script. 
			ClassicEditor
				.create( document.querySelector( '#editor' ), {
					toolbar: [ 'bold', 'italic' ]
				} )
					.then( editor => {
						console.log( editor );
					} )
					.catch( error => {
						console.error( error );
					} );
			CKEDITOR.config.autoParagraph = false;