.navbar-col-3
	.head
		.head-box-close
			i.fas.fa-caret-square-left#in-navbar
		.head-box-user
			img(src=img, alt='not img')
			span.name-user#name-user  Hoang 
	.body
		ul.body-categories
			li
				a(href='/')
					i.fas.fa-chalkboard-teacher
					span.list-name trang người dùng
			li
				a(href='/admin/category')
					i.fas.fa-bookmark
					span.list-name thể loại truyện
			li
				a(href='/admin/post')
					i.fas.fa-feather-alt
					span.list-name đăng truyện
			li
				a(href='/admin/users')
					i.fas.fa-child
					span.list-name người dùng
			li
				a(href='/admin')
					i.far.fa-chart-bar
					span.list-name thống kê
			li
				a(href='/admin/exit')
					i.fas.fa-door-open
					span.list-name thoát