.container-fluid.container-header
	.row
		.col-lg-5.col-xl-5
			.navbar-header-left
				a.navbar-logo(href='/')
					img(src='./assets/img/lg.png', alt='not img')
				.navbar-category.navbar-category-1
					.navbar-category-btn
						i.fas.fa-bars
						span  Danh M&#x1EE5;c 
					#nav-list-category.nav-list-category
						ul.list-category
							li
								a(href='#')  truy&#x1EC7;n m&#x1EDB;i 
							li
								a(href='#')  truy&#x1EC7;n ho&agrave;n th&agrave;nh 
							li
								a(href='#')  b&#x1EA3;ng x&#x1EBF;p h&#x1EA1;ng 
							li
								a(href='#')  truy&#x1EC7;n &dstrok;&#x1EC1; c&#x1EED; 
				.navbar-category.navbar-category-2
					.navbar-category-btn
						i.fas.fa-bars
						span  Th&#x1EC3; Lo&#x1EA1;i 
					#nav-list-category.nav-list-category
						ul.list-category
							each data in category
								li
									a(href="/category/" + data._id)= data.name
		.col-lg-7.col-xl-7
			ul.navbar-header-right
				li
					.box-search
						form#search-name
							input(type='text', name='story-name', value='', placeholder='Tìm tên truyện')
							button.btn-search-name(type='submit')
								i.fas.fa-search
				li
					.box-user
						if !user 
							a(href='/login')  &Dstrok;&abreve;ng Nh&#x1EAD;p 
							span.hr
							a(href='/register')  &Dstrok;&abreve;ng k&yacute; 
						else
							if user.role === 2 || user.role === 1
								span
									a.username(href="/admin")= user.username
								span
									a(href="/admin/exit") Thoát
							else 
								span
									a.username(href="/profile")= user.username              
								span
									a(href="/exit") Thoát