include layout/user_layout.pug
    
include layout/script.pug
script. 
	var list = document.querySelectorAll('.list');
	list.forEach(item => {
		var name = xoa_dau(item.innerHTML);
		item.setAttribute('href',`/${name}`)
	})