include ../../layout/admin_layout.pug 
	block content 
		.container-fluid.container-category-del
			.row
				.col-xl-12
					.box-form
						form(action="" method="post")
							p Bạn có chắc là muốn xóa thể loại 
								span= name
								| ?
							ul
								li
									button(type="submit") Xóa
									a(href="/admin/category") Back
		include ../../layout/script.pug