@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Kanit:ital,wght@1,300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Kanit:ital,wght@1,300&family=Roboto&family=Signika:wght@300&display=swap');

// Regular
$font-cabin: 'Cabin', sans-serif;
$font-roboto: 'Roboto', sans-serif;
// Italic
$font-kanit: 'Kanit', sans-serif;
// Light
$font-signika: 'Signika', sans-serif;

