.list-name-hidden {
	display: none;
}
.container-admin {
		padding-left: 0;
		position: relative;
    .navbar-col-3 {
				height: 100vh;
				background-color: $color_dark_green;
				position: fixed;
				left: 0;
        .head {
            border-bottom: 2px solid $color-white;
            padding: 5px;
            .head-box-user {
                display: flex;
                justify-content: flex-start;
                img {
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 10px;
                }
                .name-user {
                    align-self: center;
                    padding: 4px;
                    font-size: 15px;
                    text-shadow: .1px .1px 1px;
                    color: $color-white;
                    pointer-events: none;
                }
						}
					.head-box-close {
						display: flex;
						justify-content: flex-end;
						.fa-caret-square-left,
						.fa-caret-square-right {
							color: $color-white;
						}
					}
        }
        .body {
            padding: 8px;
            .body-categories {
								padding: 0 20px 0 0;
                li {
                    list-style: none;
										height: 50px;
                    i {
												font-size: 15px;
												width: 20px;
                    }
                    a {
                        text-decoration: none;
                        font-size: 12px;
                        text-transform: capitalize;
                        text-shadow: .1px .1px 1px;
                        line-height: 75px;
                        padding-left: 5px;
												color: $color-white;
												.list-name {
													padding-left: 5px;
												}
                    }
                }
            }
        }
    }
}