.container-err {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		text-align: center;
		font-weight: bold;
		font-size: 5em;
		text-transform: uppercase;
		color: $color_dark_green;
		text-shadow: 	2px 2px 4px $color_dark_green,
									1px 1px 4px $color_dark_green,
									2px 2px 4px $color_dark_green;
	}
	p:last-child {
		font-size: 10em;
		letter-spacing: 2px;
	}
}