.container-login {
    height: calc(100vh - 38px);
    position: relative;
		background-image: url('../img/s5.png');
		background-size: cover;
    .box-decorate {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: calc(100vh - 38px);
        .element-decorate {
            overflow: hidden;
            width: 100%;
            height: 60%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .col-xl-8 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-form {
        width: 50%;
        padding: 10px;
        border-radius: 2px;
        background-color: $color_white;
        box-shadow: 1px 1px 5px $color-black;
        .head-form {
            padding: 2px 2px 2px 8px;
            h2 {
                color: $color_dark_green;
                font-family: $font-kanit;
                font-weight: bold;
            }
        }
        .body-form {
            padding: 1px;
            .box-input {
                border-bottom: 1px solid $color_dark_green;
                position: relative;
                margin: 20px 0;
                height: 38px;
                label {
                    position: absolute;
                    top: 0;
                    font-size: 14px;
                    color: $color_dark_green;
                    transition: .8s;
                    opacity: 0;
                }
                input[type="text"],
                input[type="password"],
                input[type="email"] {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    outline: none;
                    border: 0;
                    text-indent: 10px;
                    font-size: 14px;
                    font-family: $font-kanit;
                    letter-spacing: 1px;
                }
            }
            .box-input:last-child {
                border: 0;
                display: flex;
                justify-content: space-between;
                padding-right: 10px;
                .error {
                    font-size: 14px;
                    color: #FF0000;
                    align-self: center;
                    width: 75%;
                    padding: 0 4px;
                }
                input[type="submit"] {
                    font-size: 14px;
                    width: 25%;
                    color: $color_white;
                    background-color: $color_dark_green;
                    border: 0;
                    outline: none;
                    border-radius: 3px;
                    cursor: pointer;
                }
                input[type="submit"]:hover {
                    background-color: #173C3B;
                }
            }
        }
    }
}
.container-login::before {
    content: '';
    background-color: $color_dark_green;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100vh - 38px);
    opacity: .3;
}