.box-top {
	padding: 5px;
	background-color: $color_white;
	height: 100vh;
	h3 {
		margin-top: 40px;
		color: $color_dark_green;
	}
	.card-top {
		padding: 5px;
		width: 40%;
		margin-left: 20px;
		li {
			border-bottom: 1px solid #cccccc;
			padding: 15px 0 0 10px;
			list-style-type: none;
			span:first-child {
				padding-right: 20px;
			}
			span a {
				text-decoration: none;
				color: $color_dark_green;
			}
		}
		li:last-child {
			border-bottom: 0;
		}
	}
}