script(src='./resource/js/jquery.js')
script(src='./resource/js/jquery-ui.min.js')
script(src='./resource/js/bootstrap.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js")
script(src='./resource/js/swiper.js')
script(src="./resource/js/ckeditor.js")
script(src="./resource/js/pagination.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js")
script(src='./assets/js/effect.js')