doctype html
head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	title Document
	link(rel="icon" href="./assets/img/bamboo.png" type="image/gif" sizes="16x16")
	link(rel='stylesheet', href='./resource/css/bootstrap.min.css')
	link(rel='stylesheet', href='./resource/css/swiper.css')
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
	link(rel="stylesheet", href="./resource/css/pagination.css")
	link(rel="stylesheet", href="./resource/css/jquery-ui.min.css")
	link(rel='stylesheet', href='./assets/css/style.css')
body 
	block content